python-dotenv~=1.0.1
pydantic-settings~=2.8.0
numpy~=1.26.4
py2neo~=2021.2.4
aiohttp~=3.11.13
fastapi~=0.115.8
pydantic~=2.10.6
requests~=2.32.3
uvicorn~=0.34.0
matplotlib~=3.10.0
langchain-core~=0.3.40
langchain~=0.3.19
langsmith~=0.3.11
langchain-text-splitters~=0.3.6
elasticsearch~=8.17.1
sqlalchemy~=2.0.38
neo4j~=5.28.1