langchain-core
networkx
py2neo
# langchain
elasticsearch
langchain-community
fastapi
pydantic
python-dotenv
pydantic-settings
packaging
dnspython
idna
httpcore
httpx
cryptography
anyio
h11
numpy
pillow
attrs
protobuf
filelock
colorama
cffi
setuptools
grpcio
grpcio-tools
pytz
rich
pygments
markdown-it-py
requests
pyyaml
multidict
propcache
sniffio
click
zstandard
certifi
mdurl
charset-normalizer
pansi
regex
scipy
threadpoolctl
torch
matplotlib
mpmath
sympy
tqdm
urllib3
fsspec
typer
shellingham
aiohttp
yarl
ujson
markupsafe
joblib
orjson
interchange
six
monotonic
aiosignal
frozenlist
python-multipart
aiohappyeyeballs
starlette
email-validator
websockets
scikit-learn
uvicorn
httptools
watchfiles
python-dateutil
gigachat
greenlet
annotated-types
tenacity
contourpy
fonttools
langsmith
langchain-text-splitters
sqlalchemy
requests-toolbelt
jinja2
pycparser
pyparsing
itsdangerous
jsonpointer
cycler
kiwisolver
tokenizers
marshmallow
safetensors
yandexcloud
pyjwt
transformers
huggingface-hub
elastic-transport
jsonpatch
typing-inspect
dataclasses-json
mypy-extensions
dependency-injector
httpx-sse
aiofiles
sentence-transformers
neo4j
langchain-elasticsearch
langchain-gigachat
yandex-chain